* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 1400px;
}

.item img {
  display: block;
}

.container {
}

.example {
  width: 800px;
  margin: 50px 0;
  background-color: #D6E9FE;
}

.item-relative {
}

.absolute {
}

.item-absolute {
}

.item-fixed {
}
